.postContent{
    position: relative;
    top: -40px;
}

.wall .small-profile > img {
    width : 10px !important;
    border-radius: 50%;
}

.small-profile .row {
    font-weight: bold;
}
.feed {
    padding: 3px;
}

.wall {    
    border-style: solid;
    border-width: 0px 1px;
}

.left-menu{
    height: 700px;
}

.left-menu .small-profile {
    position: absolute;
    bottom: 0;
}

.header {
    padding: 5px;
}

.newPost {
    padding-bottom: 10px;
}